html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-family: Syncopate, sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 60px;
}

p {
  margin: 0 0 25px 5px;
  font-size: 15px;
  line-height: 1.5;
}
a {
  color: #0000FF;
}

a:hover,a:focus {
  text-decoration: none;
  color: #FF0000;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  font-family: Syncopate, sans-serif;
  background-color: #FFF;
}

.navbar-custom a {
  color: #000;
}

.brand-text {
  font-weight: bold;
  /* color: green; */
}

.banner-bg {
    background-image: url("/img/header-bg3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #000;
  background: url(../img/header-bg2.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
